.dashboard__landing-page {
  display: flex;
  flex-direction: column;
}

.dashboard__landing-page__heading {
  flex: 1;
  align-self: center;
  width: 100%;
}

.dashboard__landing-page h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04rem;
  padding-bottom: 0.75rem;
}

.dashboard__landing-page hr {
  height: 20px;
  background: var(--gradient-bar);
  border: none;
  outline: none;
  border-radius: 5px 10px 10px 5px;
}

.dashboard__landing-page-data,
.dashboard__landing-page-iss {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.dashboard__landing-page-d3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dashboard__landing-page-image {
  flex: 0.5;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}
.dashboard__landing-page-image img,
.dashboard__landing-page-image a {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px var(--color-bg);
  opacity: 0.65;
  border: none;
  outline: none;
}

.dashboard__landing-page-link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62px;
  font-family: var(--font-family);
  font-weight: 800;
}
