.dashboard__header {
    display: flex;
}

.dashboard__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.dashboard__header-content h1,
.dashboard__header-content h2 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04rem;
}

.dashboard__header-content p {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    
    color: var(--color-text);

    margin-top: 1.5rem;
}
.dashboard__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.dashboard__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: #052D56;
    font-family: var(--font-family);
    border: 2px solid var(--color-footer);
    font-size: 20px;
    line-height: 27px;
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dashboard__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background: #FF4820;
    line-height: 27px;
    color: #fff;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dashboard__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__header-image img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px var(--color-bg);
}

@media screen and (max-width: 1050px){
    .dashboard__header {
        flex-direction: column;
    }
    .dashboard__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px){
    .dashboard__header h1,
    .dashboard__header h2 {
        font-size: 48px;
        line-height: 60px;
    }
    .dashboard__header p {
        font-size: 16px;
        line-height: 24px;
    }
    .dashboard__header-content__people {
        flex-direction: column;
    }
    .dashboard__header-content__people p {
        margin: 0;
    }
    .dashboard__header-content__input button,
    .dashboard__header-content__input input {
        font-size: 16px;
        line-height: 24px;
    }
    
}

@media screen and (max-width: 490px){
    .dashboard__header h1,
    .dashboard__header h2 {
        font-size: 36px;
        line-height: 48px;
    }
    .dashboard__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .dashboard__header-content__input button,
    .dashboard__header-content__input input {
        font-size: 12px;
        line-height: 26px;
    }
    
}