.dashboard__signup-container {
    background: var(--color-blog);
    font-family: var(--font-family);
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  .dashboard__signup-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    max-width: 500px;
    margin-right: 65px;
  }
  
  .dashboard__signup-card-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
  }
  
  .dashboard__signup-card__input {
    width: 100%;
    margin: 2rem 0 1rem;
  
    display: flex;
    flex-direction: row;
  }
  
  .dashboard__signup-card__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: #052d56;
    font-family: var(--font-family);
    border: 2px solid var(--color-footer);
    font-size: 20px;
    line-height: 27px;
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .dashboard__signup-card__input-button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background: #ff4820;
    line-height: 27px;
    color: #fff;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  